{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>News & Blog</title>
{% endblock %}

{% block content %}
<br>
<div class="content-title text-center content-section-single">
    <h2>
        เชื้อไวรัสโคโรน่า (COVS) พบได้ทั่วโลก
    </h2>
    <p class="content-title text-center">
        เชื้อไวรัสโคโรน่า (CoVs) เป็นไวรัสชนิดอาร์เอ็นเอสายเดี่ยว (single stranded RNA virus) ใน Family
        Coronaviridae มีรายงานการพบเชื้อมาตั้งแต่ช่วงปี ค.ศ. 1965 โดยสามารถติดเชื้อได้ทั้งในคนและสัตว์
        ประกอบด้วยชนิดย่อยหลายชนิดและทำให้มีอาการแสดงในระบบต่างๆ เช่น ระบบทางเดินหายใจ
        (รวมถึงโรคทางเดินหายใจเฉียบพลันรุนแรง หรือซาร์ส; SARS CoV) ระยะฟักตัวของโรค : โดยเฉลี่ยประมาณ 2 วัน
        (อาจมีระยะฟักตัวนานถึง 3 – 4 วัน) สำหรับโรคซาร์สอาจ ใช้ระยะฟักตัว 4 – 7 วัน (อาจนานถึง 10 – 14 วัน)
    </p>
</div>
  {% endblock %}